* {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, blue, purple);
}
.main-app {
  margin: auto;
  width: 350px;
  /* border: 2px solid green; */
  border-radius: 12px;
  background-color: white;
  /* height: auto; */
  padding: 12px 20px;
  margin: 20px auto;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem;
}
.screen {
  background-color: black;
  height: 60px;
  border-radius: 8px;
  margin: 1.5rem 0;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 67px);
  grid-auto-rows: 60px;
  grid-gap: 12px;
}
.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}
.button:active {
  transform: scale(1.2);
}

.orange-btn {
  background-color: orange;
}
.dark-orange-btn {
  background-color: orangered;
}
.blue-btn {
  background: blue;
}
.teal-btn {
  background: limegreen;
}
